<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219508380677-dk9ppk1fvvei1vlhfg4ic8p3beu822qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219508380677-dk9ppk1fvvei1vlhfg4ic8p3beu822qf</string>
	<key>API_KEY</key>
	<string>AIzaSyBSdPkjo0CaOHkbIS8Rauy3AJ-5Nj9AR3A</string>
	<key>GCM_SENDER_ID</key>
	<string>219508380677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jht9629.firebase.quickstart.StorageExample</string>
	<key>PROJECT_ID</key>
	<string>molab-485f5</string>
	<key>STORAGE_BUCKET</key>
	<string>molab-485f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219508380677:ios:cda96941f356ed3d68b86c</string>
</dict>
</plist>